calendar "public" {
    source url="https://calendar.google.com/calendar/ical/me%40srh.dog/public/basic.ics" {
        transform "polycalendar/filter" {
            include "name"
            include "location"
            
            set "color" value="turquoise"
        }
    }
    
    source url="https://calendar.google.com/calendar/ical/work%40srh.dog/public/basic.ics" {
        transform "polycalendar/redact" {
            description "Busy"
            r
            padding (minutes)10
            delete_overlaps #true
        }
        
        transform "polycalendar/filter" {
            set "color" value="red"
        }
    }
    
    transform "polycalendar/truncate" {
        beginning date="now"
        end date="now" offset=(weeks)4
    }
}